.input-form{
    display: flex;
    margin: $m-size;
    flex-direction: column;
    @media (min-width: 45rem) {
        flex-direction: row;
        margin: $l-size;
    }
}

.input-form__form{
  
    margin-bottom: 1rem;
    @media (min-width: 45rem) {
        margin-left: $m-size;
    }
}